.header{
    background-color: #1F2937;
    color: #F9FAF8;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 15%;
    padding-bottom: 50px;
}
.header-banner{
    display:flex;
    justify-content: space-between;
}
#header-text{
    font-size: 24px;
    font-weight: 900;
}
.link-container{
    display:flex;
    font-size:18px;
    gap:20px;
    align-items: center;
}
a{
    text-decoration: none;
    color: #F9FAF8;
}
button{
    background-color:#3882F6;
    border-radius: 5px;
    border-color: #3882F6;
    width: 100px;
    color:#F9FAF8
}
.section-one{
    background-color: #1F2937;
    color: #F9FAF8;
    display:flex;
    align-items: center;
    /*justify-content: space-between;*/
    gap: 8rem;
    padding-bottom: 2em;
}
#Awesome-text{
    font-size: 48px;
}
.s1-left{
    display:flex;
    flex-direction: column;
    width:50%;
}

.section-two{
    text-align: center;
}
.s2-card-container{
    display:flex;
    justify-content: center;
    gap: 50px;
}
.random-image{
    border:solid #3882F6;
    border-radius: 12px;
    width:100px;
    height:100px;
}
.random-image-flex{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap
}
.random-image-p{
    width:100px;
}
#rando-text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.section-three{
    background-color:#E5E7EB;
    color: #1F2937;
    display:flex;
    flex-direction: column;
    padding: 0 15%;
}
#quote{
    font-style: italic;
    font-weight:lighter;
    font-size:34px;
}
#quote-author{
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}

.section-four{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.blue-floater{
    display:flex;
    background-color: #3882F6;
    color:#E5E7EB;
    padding: 20px;
    border-radius: 12px;
    width:70%;
    align-items: center;
    justify-content: center;
    gap: 50%;  
}
#blue-floater-button{
    border: solid #E5E7EB;
    width: 100px;
    height: 30px;
}
.blue-floater-text{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}
#blue-floater-header, #blue-floater-p{
    margin:0;
    padding: 5px;
}
.footer{
    text-align: center;
}